Host trellis-remote-dev
  HostName codex-dev-64gb
  User jack_trellistech_com
  ForwardAgent yes
  HostKeyAlias compute.6600819301898119526
  UserKnownHostsFile ~/.ssh/google_compute_known_hosts
  ProxyCommand "{{USERLAND_HOME}}/.local/bin/mise" -C "{{USERLAND_REALM_ROOT}}" exec -- gcloud compute start-iap-tunnel %h %p --listen-on-stdin --project=trellis-486621 --zone=europe-west8-a
